<main>
  <nav class="navbar navbar-expand-lg">
      <div class="container">
          <a class="navbar-brand d-flex align-items-center" href="index.html">
              <!-- <img src="images/coffee-beans.png" class="navbar-brand-image img-fluid" alt="Barista Cafe Template"> -->
              5 Billion Stars
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-lg-auto">
                  <li class="nav-item">
                      <a class="nav-link click-scroll" href="#section_1">Home</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link click-scroll" href="#section_2">About</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link click-scroll" href="#section_3">Gallery</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link click-scroll" href="#section_4">Schedule</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link click-scroll" href="#section_5">Contact Us</a>
                  </li>
              </ul>

              <div class="ms-lg-3">
                  <a class="btn custom-btn custom-border-btn" href="reservation.html">
                      Book Now
                      <i class="bi-arrow-up-right ms-2"></i>
                  </a>
              </div>
          </div>
      </div>
  </nav>


  <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">

      <div class="container">
          <div class="row align-items-center">

              <div class="col-lg-6 col-12 mx-auto">
                  <em ><h3 class="text-white mb-2 pb-lg-2">Nestled Between Pawana Lake &amp Tikona Fort</h3> </em>
                  <h1> 5 Billion Stars</h1>

                  <p class="text-white mb-4 pb-lg-2">
                      Camping <em>&</em> Agro Tourism.
                  </p>

                  <!-- <a class="btn custom-btn custom-border-btn smoothscroll me-3" href="#section_2">
                      Our Story
                  </a> -->

                  <a class="btn custom-btn smoothscroll me-2 mb-2" href="#section_3"><strong>Book Now</strong></a>
              </div>

          </div>
      </div>

      <div class="hero-slides"></div>
  </section>


  <section class="about-section section-padding" id="section_2">
      <div class="section-overlay"></div>
      <div class="container">
          <div class="row align-items-center">

              <div class="col-lg-6 col-12">
                  <div class="ratio ratio-1x1">
                      <!-- <video autoplay="" loop="" muted="" class="custom-video" poster="">
                          <source src="videos/NYE 24 Video Set 2.mp4" type="video/mp4">

                          Your browser does not support the video tag.
                      </video> -->
                      <!-- <video autoplay muted loop playsinline>
                        <source src="videos/NYE 24 Video Set 2.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video> -->

                      <div class="about-video-info d-flex flex-column">
                          <h4 class="mt-auto">We Started Since 2019.</h4>

                          <h4>Best Camping in Pawana.</h4>
                      </div>
                  </div>
              </div>

              <div class="col-lg-5 col-12 mt-4 mt-lg-0 mx-auto">
                  <em class="text-white">About Us</em>

                  <h2 class="text-white mb-3">5 Billion Stars</h2>

                  <p class="text-white">Welcome to 5 Billion Stars Camping & Agro Tourism, a serene retreat nestled amidst the breathtaking natural beauty of Pawana Lake and Tikona Fort. We are passionate about offering an unforgettable escape where adventure meets tranquility under the starlit skies.</p>

                  <p class="text-white">Our picturesque location provides the perfect blend of rustic charm and modern comfort, ideal for nature enthusiasts, adventure seekers, and anyone looking to rejuvenate their spirit. Whether you want to enjoy cozy nights by the campfire, explore scenic trails, or simply bask in the serenity of nature, we’ve got it all covered.</p>
                  <p class="text-white">At 5 Billion Stars, we take pride in curating unique experiences that celebrate sustainable tourism and local culture. From thrilling outdoor activities to warm hospitality, we ensure every guest leaves with cherished memories of their time under the infinite stars.</p>
                  <p class="text-white">Discover a new way to celebrate life, connect with nature, and create lasting memories with us. Your next adventure awaits!</p>
                  <!-- <a href="#barista-team" class="smoothscroll btn custom-btn custom-border-btn mt-3 mb-4">Meet Baristas</a> -->
              </div>

          </div>
      </div>
  </section>


  <section class="barista-section section-padding section-bg"  id="section_3">
      <div class="container">
          <div class="row justify-content-center">

              <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                  <em class="text-white">Creative 5 Billion Star</em>

                  <h2 class="text-white">Gallery</h2>
              </div>
              <div class="container">
                <div class="row">
                    <div class="col-md-4 mt-3 col-lg-4">
                        <img src="images/gallery_01.jpg" class="img-fluid" alt="image">
                    </div>
                    <div class="col-md-4 mt-3 col-lg-4">
                        <img src="images/gallery_02.jpg" class="img-fluid" alt="image">
                    </div>
                    <div class="col-md-4 mt-3 col-lg-4">
                        <img src="images/gallery_03.jpg" class="img-fluid" alt="image">
                    </div>
                    <div class="col-md-4 mt-3 col-lg-6">
                        <img src="images/gallery_04.jpg" class="img-fluid" alt="image">
                    </div>
                    <div class="col-md-4 mt-3 col-lg-6">
                        <img src="images/gallery_05.jpg" class="img-fluid" alt="image">
                    </div>
                    <div class="col-md-4 mt-3 col-lg-3">
                        <img src="images/gallery_06.jpg" class="img-fluid" alt="image">
                    </div>
                    <div class="col-md-4 mt-3 col-lg-3">
                        <img src="images/gallery_07.jpg" class="img-fluid" alt="image">
                    </div>
                    <div class="col-md-4 mt-3 col-lg-3">
                        <img src="images/gallery_08.jpg" class="img-fluid" alt="image">
                    </div>
                    <div class="col-md-4 mt-3 col-lg-3">
                        <img src="images/gallery_09.jpg" class="img-fluid" alt="image">
                    </div>
                </div>
            </div>
              <!-- <div class="col-lg-3 col-md-6 col-12 mb-4">
                  <div class="team-block-wrap">
                      <div class="team-block-info d-flex flex-column">
                          <div class="d-flex mt-auto mb-3">
                              <h4 class="text-white mb-0">Steve</h4>

                              <p class="badge ms-4"><em>Boss</em></p>
                          </div>

                          <p class="text-white mb-0">your favourite coffee daily lives tempor.</p>
                      </div>

                      <div class="team-block-image-wrap">
                          <img src="images/team/portrait-elegant-old-man-wearing-suit.jpg" class="team-block-image img-fluid" alt="">
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6 col-12 mb-4">
                  <div class="team-block-wrap">
                      <div class="team-block-info d-flex flex-column">
                          <div class="d-flex mt-auto mb-3">
                              <h4 class="text-white mb-0">Sandra</h4>

                              <p class="badge ms-4"><em>Manager</em></p>
                          </div>

                          <p class="text-white mb-0">your favourite coffee daily lives.</p>
                      </div>

                      <div class="team-block-image-wrap">
                          <img src="images/team/cute-korean-barista-girl-pouring-coffee-prepare-filter-batch-brew-pour-working-cafe.jpg" class="team-block-image img-fluid" alt="">
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6 col-12 mb-4">
                  <div class="team-block-wrap">
                      <div class="team-block-info d-flex flex-column">
                          <div class="d-flex mt-auto mb-3">
                              <h4 class="text-white mb-0">Jackson</h4>

                              <p class="badge ms-4"><em>Senior</em></p>
                          </div>

                          <p class="text-white mb-0">your favourite coffee daily lives.</p>
                      </div>

                      <div class="team-block-image-wrap">
                          <img src="images/team/small-business-owner-drinking-coffee.jpg" class="team-block-image img-fluid" alt="">
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6 col-12">
                  <div class="team-block-wrap">
                      <div class="team-block-info d-flex flex-column">
                          <div class="d-flex mt-auto mb-3">
                              <h4 class="text-white mb-0">Michelle</h4>

                              <p class="badge ms-4"><em>Barista</em></p>
                          </div>

                          <p class="text-white mb-0">your favourite coffee daily consectetur.</p>
                      </div>

                      <div class="team-block-image-wrap">
                          <img src="images/team/smiley-business-woman-working-cashier.jpg" class="team-block-image img-fluid" alt="">
                      </div>
                  </div>
              </div> -->

          </div>
      </div>
  </section>


  <section class="menu-section section-padding" id="section_33">
      <div class="container">
          <div class="row">

              <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                  <div class="menu-block-wrap">
                      <div class="text-center mb-4 pb-lg-2">
                          <em class="text-white">Delicious Menu</em>
                          <h4 class="text-white">Evening Snack</h4>
                      </div>

                      <div class="menu-block">
                          <div class="d-flex">
                              <h6>Welcome Spl.Tea
                                <span class="badge ms-3">Included</span>
                              </h6>
                              <span class="underline"></span>
                              <div class="ms-auto d-flex align-items-end">
                                <img src="images/reviews/Tea1.jpg" class="reviews-block-image img-fluid" alt="">
                            </div>
                              <!-- <strong class="ms-auto">$12.50</strong> -->
                          </div>

                          <div class="border-top mt-2 pt-2">
                              <!-- <small>Fresh brewed coffee and steamed milk</small> -->
                          </div>
                      </div>

                      <div class="menu-block my-4">
                          <div class="d-flex">
                              <h6>
                                  Garam Pakode
                                  <span class="badge ms-3">Included</span>
                              </h6>
                              <span class="underline"></span>
                              <div class="ms-auto d-flex align-items-end">
                                <img src="images/reviews/PAKODE.jpg" class="reviews-block-image img-fluid" alt="">
                            </div>

                              <!-- <strong class="text-white ms-auto"><del>$16.50</del></strong>

                              <strong class="ms-2">$12.00</strong> -->
                          </div>

                          <div class="border-top mt-2 pt-2">
                             <!-- <small>Brewed coffee and steamed milk</small>-->
                          </div>
                      </div>

                      <div class="menu-block">
                          <div class="d-flex">
                              <h6>Masala Maggi
                                  <!-- <span class="badge ms-3">Recommend</span> -->
                              </h6>
                              <span class="underline"></span>
                              <div class="ms-auto d-flex align-items-end">
                                <img src="images/reviews/MASALA MAGGIE.jpg" class="reviews-block-image img-fluid" alt="">
                            </div>

                              <!-- <strong class="ms-auto">$15.0</strong> -->
                          </div>

                          <div class="border-top mt-2 pt-2">
                              <!-- <small>Rich Milk and Foam</small> -->
                          </div>
                      </div>

                      <div class="menu-block my-4">
                          <div class="d-flex">
                              <h6>Hot Coffee</h6>
                              <span class="underline"></span>
                              <div class="ms-auto d-flex align-items-end">
                                <img src="images/reviews/HOT COFFE.jpg" class="reviews-block-image img-fluid" alt="">
                            </div>

                              <!-- <strong class="ms-auto">$12.50</strong> -->
                          </div>

                          <div class="border-top mt-2 pt-2">
                              <!-- <small>Fresh brewed coffee and steamed milk</small> -->
                          </div>
                      </div>

                      <div class="menu-block">
                          <div class="d-flex">
                              <h6>Anda Burji</h6>
                              <span class="underline"></span>
                              <div class="ms-auto d-flex align-items-end">
                                <img src="images/reviews/Andaburji.jpg" class="reviews-block-image img-fluid" alt="">
                            </div>

                              <!-- <strong class="ms-auto">$18.0</strong> -->
                          </div>

                          <div class="border-top mt-2 pt-2">
                              <!-- <small>Rich Milk and Foam</small> -->
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                <div class="menu-block-wrap">
                    <div class="text-center mb-4 pb-lg-2">
                        <em class="text-white">Delicious Menu</em>
                        <h4 class="text-white">Morning Breakfast</h4>
                    </div>

                    <div class="menu-block">
                        <div class="d-flex">
                            <h6>Morning Spl.Tea
                              <span class="badge ms-3">Included</span>
                            </h6>
                            <span class="underline"></span>
                            <div class="ms-auto d-flex align-items-end">
                              <img src="images/reviews/MorningTea.jpg" class="reviews-block-image img-fluid" alt="">
                          </div>
                            <!-- <strong class="ms-auto">$12.50</strong> -->
                        </div>

                        <div class="border-top mt-2 pt-2">
                            <!-- <small>Fresh brewed coffee and steamed milk</small> -->
                        </div>
                    </div>

                    <div class="menu-block my-4">
                        <div class="d-flex">
                            <h6>
                                Jam Bread
                                <span class="badge ms-3">Included</span>
                            </h6>
                            <span class="underline"></span>
                            <div class="ms-auto d-flex align-items-end">
                              <img src="images/reviews/JamBread.jpg" class="reviews-block-image img-fluid" alt="">
                          </div>

                            <!-- <strong class="text-white ms-auto"><del>$16.50</del></strong>

                            <strong class="ms-2">$12.00</strong> -->
                        </div>

                        <div class="border-top mt-2 pt-2">
                           <!-- <small>Brewed coffee and steamed milk</small>-->
                        </div>
                    </div>

                    <div class="menu-block">
                        <div class="d-flex">
                            <h6>Boil Eggs
                                <span class="badge ms-3">Optional</span>
                            </h6>
                            <span class="underline"></span>
                            <div class="ms-auto d-flex align-items-end">
                              <img src="images/reviews/boileggs.jpg" class="reviews-block-image img-fluid" alt="">
                          </div>

                            <!-- <strong class="ms-auto">$15.0</strong> -->
                        </div>

                        <div class="border-top mt-2 pt-2">
                            <!-- <small>Rich Milk and Foam</small> -->
                        </div>
                    </div>

                    <div class="menu-block my-4">
                        <div class="d-flex">
                            <h6>Hot Coffee</h6>
                            <span class="underline"></span>
                            <div class="ms-auto d-flex align-items-end">
                              <img src="images/reviews/Coffee.jpg" class="reviews-block-image img-fluid" alt="">
                          </div>

                            <!-- <strong class="ms-auto">$12.50</strong> -->
                        </div>

                        <div class="border-top mt-2 pt-2">
                            <!-- <small>Fresh brewed coffee and steamed milk</small> -->
                        </div>
                    </div>

                    <div class="menu-block">
                        <div class="d-flex">
                            <h6>Masala Maggi</h6>
                            <span class="underline"></span>
                            <div class="ms-auto d-flex align-items-end">
                              <img src="images/reviews/Egg-bhurji.jpg" class="reviews-block-image img-fluid" alt="">
                          </div>

                            <!-- <strong class="ms-auto">$18.0</strong> -->
                        </div>

                        <div class="border-top mt-2 pt-2">
                            <!-- <small>Rich Milk and Foam</small> -->
                        </div>
                    </div>
                </div>
            </div>

              <!-- <div class="col-lg-6 col-12 mt-4">
                  <div class="menu-block-wrap">
                      <div class="text-center mb-4 pb-lg-2">
                          <em class="text-white">Favourite Menu</em>
                          <h4 class="text-white">Coffee</h4>
                      </div>

                      <div class="menu-block">
                          <div class="d-flex">
                              <h6>Latte</h6>
                          
                              <span class="underline"></span>

                              <!-- <strong class="text-white ms-auto"><del>$12.50</del></strong>

                              <strong class="ms-2">$7.50</strong> --
                          </div>

                          <div class="border-top mt-2 pt-2">
                              <!-- <small>Fresh brewed coffee and steamed milk</small> --
                          </div>
                      </div>

                      <div class="menu-block my-4">
                          <div class="d-flex">
                              <h6>
                                  White Coffee
                                  <!-- <span class="badge ms-3">Recommend</span> --
                              </h6>
                          
                              <span class="underline"></span>

                              <!-- <strong class="ms-auto">$5.90</strong> -->
                          </div>

                          <div class="border-top mt-2 pt-2">
                             <!-- <small>Brewed coffee and steamed milk</small>--
                          </div>
                      </div>

                      <div class="menu-block">
                          <div class="d-flex">
                              <h6>Chocolate Milk</h6>
                          
                              <span class="underline"></span>

                              <!-- <strong class="ms-auto">$5.50</strong> --
                          </div>

                          <div class="border-top mt-2 pt-2">
                              <!-- <small>Rich Milk and Foam</small> --
                          </div>
                      </div>

                      <div class="menu-block my-4">
                          <div class="d-flex">
                              <h6>Greentea</h6>
                          
                              <span class="underline"></span>

                              <!-- <strong class="ms-auto">$7.50</strong> --
                          </div>

                          <div class="border-top mt-2 pt-2">
                              <!-- <small>Fresh brewed coffee and steamed milk</small> --
                          </div>
                      </div>

                      <div class="menu-block">
                          <div class="d-flex">
                              <h6>Dark Chocolate</h6>
                          
                              <span class="underline"></span>

                              <!-- <strong class="ms-auto">$7.25</strong> --
                          </div>

                          <div class="border-top mt-2 pt-2">
                              <!-- <small>Rich Milk and Foam</small> --
                          </div>
                      </div>
                  </div>
              </div> -->

          </div>
      </div>
  </section>


  <section class="reviews-section section-padding section-bg" id="section_4">
      <div class="container">
          <div class="row justify-content-center">

              <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                  <em class="text-white">Reviews by Customers</em>

                  <h2 class="text-white">Schedule of Camping
                </h2>
              </div>

              <div class="timeline">
                  <div class="timeline-container timeline-container-left">
                      <div class="timeline-content">
                          <div class="reviews-block">
                              <div class="reviews-block-image-wrap d-flex align-items-center">
                                  <img src="images/reviews/couple traval.jpg" class="reviews-block-image img-fluid" alt="">

                                  <div class="">
                                      <h6 class="text-white mb-0">Check in 4:00 PM</h6>
                                      <!-- <em class="text-white"> Customers</em> -->
                                  </div>
                              </div>

                              <div class="reviews-block-info">
                                  <p>Experience the magic of camping under a 5-billion-star sky on any regular day! Relax amidst nature, enjoy farm-fresh food, and explore serene landscapes. Perfect for a peaceful getaway or an adventure-filled escape!</p>

                                  <div class="d-flex border-top pt-3 mt-4">
                                      <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong>

                                      <div class="reviews-group ms-auto">
                                          <i class="bi-star-fill"></i>
                                          <i class="bi-star-fill"></i>
                                          <i class="bi-star-fill"></i>
                                          <i class="bi-star-fill"></i>
                                          <i class="bi-star"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="timeline-container timeline-container-right">
                      <div class="timeline-content">
                          <div class="reviews-block">
                              <div class="reviews-block-image-wrap d-flex align-items-center">
                                  <img src="images/reviews/tent.png" class="reviews-block-image img-fluid" alt="">

                                  <div class="">
                                      <h6 class="text-white mb-0">Grab Tent</h6>
                                      <!-- <em class="text-white"> Customers</em> -->
                                  </div>
                              </div>

                              <div class="reviews-block-info">
                                  <p>Cozy up in our comfortable tents, perfect for a night under the stars! Fully equipped and set amidst nature, they offer the ideal mix of adventure and relaxation. Book your tent now for a memorable outdoor experience!.

                                  </p>

                                  <div class="d-flex border-top pt-3 mt-4">
                                      <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong>

                                      <div class="reviews-group ms-auto">
                                          <i class="bi-star-fill"></i>
                                          <i class="bi-star-fill"></i>
                                          <i class="bi-star-fill"></i>
                                          <i class="bi-star-fill"></i>
                                          <i class="bi-star"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="timeline-container timeline-container-left">
                      <div class="timeline-content">
                          <div class="reviews-block">
                              <div class="reviews-block-image-wrap d-flex align-items-center">
                                  <img src="images/reviews/tea.jpg" class="reviews-block-image img-fluid" alt="">

                                  <div class="">
                                      <h6 class="text-white mb-0">Welcome Tea & Pakoda</h6>
                                      <!-- </em><em class="text-white"> Customers -->
                                  </div>
                              </div>

                              <div class="reviews-block-info">
                                  <p>Kickstart your evening with a warm cup of welcome tea ☕ and crispy, delicious pakodas! 🍴 The perfect way to set the mood for a magical night ahead!</p>

                                  <div class="d-flex border-top pt-3 mt-4">
                                      <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong>

                                      <div class="reviews-group ms-auto">
                                          <i class="bi-star-fill"></i>
                                          <i class="bi-star-fill"></i>
                                          <i class="bi-star-fill"></i>
                                          <i class="bi-star-fill"></i>
                                          <i class="bi-star"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="timeline-container timeline-container-right">
                    <div class="timeline-content">
                        <div class="reviews-block">
                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                <img src="images/reviews/sunset.jpeg" class="reviews-block-image img-fluid" alt="">

                                <div class="">
                                    <h6 class="text-white mb-0">Capture the Sunset</h6>
                                    <!-- <em class="text-white"> Customers</em> -->
                                </div>
                            </div>

                            <div class="reviews-block-info">
                                <p>Witness the breathtaking hues of the setting sun 🌅 as it paints the sky in vibrant colors. A picture-perfect moment to cherish forever!</p>

                                <div class="d-flex border-top pt-3 mt-4">
                                    <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong>

                                    <div class="reviews-group ms-auto">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeline-container timeline-container-left">
                    <div class="timeline-content">
                        <div class="reviews-block">
                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                <img src="images/reviews/games.jpg" class="reviews-block-image img-fluid" alt="">

                                <div class="">
                                    <h6 class="text-white mb-0">Games & Activities</h6>
                                    <!-- <em class="text-white"> Customers</em> -->
                                </div>
                            </div>

                            <div class="reviews-block-info">
                                <p>Get ready for fun-filled games and engaging activities 🎲🏐 that bring everyone together! Laughter and memories guaranteed for all ages! 🎉</p>

                                <div class="d-flex border-top pt-3 mt-4">
                                    <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong>

                                    <div class="reviews-group ms-auto">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeline-container timeline-container-right">
                    <div class="timeline-content">
                        <div class="reviews-block">
                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                <img src="images/reviews/delicious-bbq.jpg" class="reviews-block-image img-fluid" alt="">

                                <div class="">
                                    <h6 class="text-white mb-0">Delicious BBQ</h6>
                                    <!-- <em class="text-white"> Customers</em> -->
                                </div>
                            </div>

                            <div class="reviews-block-info">
                                <p>Savor the smoky flavors of our freshly grilled BBQ 🍢🔥 under the starry night. A feast that’s as unforgettable as the celebration itself!</p>

                                <div class="d-flex border-top pt-3 mt-4">
                                    <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong>

                                    <div class="reviews-group ms-auto">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeline-container timeline-container-left">
                    <div class="timeline-content">
                        <div class="reviews-block">
                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                <img src="images/reviews/bonefire.jpeg" class="reviews-block-image img-fluid" alt="">

                                <div class="">
                                    <h6 class="text-white mb-0">Campfire</h6>
                                    <em class="text-white">8:00 PM</em>
                                </div>
                            </div>

                            <div class="reviews-block-info">
                                <p>Gather around the warm, crackling campfire 🔥, share stories, and create memories under the starlit sky. The perfect blend of coziness and magic! 🌌</p>

                                <div class="d-flex border-top pt-3 mt-4">
                                    <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong>

                                    <div class="reviews-group ms-auto">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeline-container timeline-container-right">
                    <div class="timeline-content">
                        <div class="reviews-block">
                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                <img src="images/reviews/dance.jpg" class="reviews-block-image img-fluid" alt="">

                                <div class="">
                                    <h6 class="text-white mb-0">DJ Music & Dance</h6>
                                    <!-- <em class="text-white"> 9:00 PM</em> -->
                                </div>
                            </div>

                            <div class="reviews-block-info">
                                <p>Let the beats take over as our live DJ sets the mood 🎶💃. Dance your way into the New Year under the open sky!</p>

                                <div class="d-flex border-top pt-3 mt-4">
                                    <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong>

                                    <div class="reviews-group ms-auto">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeline-container timeline-container-left">
                    <div class="timeline-content">
                        <div class="reviews-block">
                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                <img src="images/reviews/dinner.png" class="reviews-block-image img-fluid" alt="">

                                <div class="">
                                    <h6 class="text-white mb-0">Unlimited Dinner</h6>
                                    <em class="text-white"> 9:30 PM - 10:30 PM</em>
                                </div>
                            </div>

                            <div class="reviews-block-info">
                                <p>Indulge in a sumptuous unlimited dinner 🍴✨ packed with delicious flavors. A feast to fuel your celebration all night long</p>

                                <div class="d-flex border-top pt-3 mt-4">
                                    <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong>

                                    <div class="reviews-group ms-auto">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeline-container timeline-container-right">
                    <div class="timeline-content">
                        <div class="reviews-block">
                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                <img src="images/reviews/poha.jpg" class="reviews-block-image img-fluid" alt="">

                                <div class="">
                                    <h6 class="text-white mb-0">Morning Tea & Breakfast</h6>
                                    <em class="text-white">9:00 AM - 10:00 AM </em>
                                </div>
                            </div>

                            <div class="reviews-block-info">
                                <p>Begin your day with a warm cup of tea ☕ and a simple yet satisfying breakfast 🍞🍳. A refreshing start to keep you energized!</p>

                                <div class="d-flex border-top pt-3 mt-4">
                                    <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong>

                                    <div class="reviews-group ms-auto">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeline-container timeline-container-left">
                    <div class="timeline-content">
                        <div class="reviews-block">
                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                <img src="images/reviews/check out.jpeg" class="reviews-block-image img-fluid" alt="">

                                <div class="">
                                    <h6 class="text-white mb-0">Check Out</h6>
                                    <em class="text-white"> 11:00 AM </em>
                                </div>
                            </div>

                            <div class="reviews-block-info">
                                <p>As your unforgettable journey at 5 Billion Stars Camping & Agro Tourism comes to an end, take a moment to reflect on the memories made under the starry sky. From bonfires to breathtaking sunsets, we hope you carry the magic of this experience into the Life!</p>

                                <div class="d-flex border-top pt-3 mt-4">
                                    <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong>

                                    <div class="reviews-group ms-auto">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

          </div>
      </div>
  </section>


  <section class="contact-section section-padding" id="section_5">
      <div class="container">
          <div class="row">

              <div class="col-lg-12 col-12">
                  <em class="text-white">Say Hello</em>
                  <h2 class="text-white mb-4 pb-lg-2">Contact</h2>
              </div>

              <div class="col-lg-6 col-12">
                  <form  method="post" class="custom-form contact-form" role="form"  action="mailto:5billionstarsct@gmail.com" enctype="text/plain">

                  <div class="row">
                      <div class="col-lg-6 col-12">
                          <label for="name" class="form-label">Name <sup class="text-danger">*</sup></label>

                          <input type="text" name="name" id="name" class="form-control" placeholder="Jackson" required>
                      </div>

                      <div class="col-lg-6 col-12">
                          <label for="email" class="form-label">Email Address</label>

                          <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Jack@gmail.com" required="">
                      </div>

                      <div class="col-12">
                          <label for="message" class="form-label">How can we help?</label>

                          <textarea name="message" rows="4" class="form-control" id="message" placeholder="Message" required=""></textarea>
                      </div>
                  </div>

                  <div class="col-lg-5 col-12 mx-auto mt-3">
                      <button type="submit" class="form-control">Send Message</button>
                  </div>
              </form>
              </div>

              <div class="col-lg-6 col-12 mx-auto mt-5 mt-lg-0 ps-lg-5">
                  <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3780.65929692232!2d73.503226!3d18.634388!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2a77c92f69653%3A0xa2e9f51509b0642!2s5%20Billion%20Stars%20Camping%20%26%20Agro%20Tourism!5e0!3m2!1sen!2sin!10v1732454024171!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
                  <!-- <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=5 Billion Stars+Pune+Maharashtra+India" width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe> -->
                  <!-- <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3780.65929692232!2d73.503226!3d18.634388!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2a77c92f69653%3A0xa2e9f51509b0642!2s5%20Billion%20Stars%20Camping%20%26%20Agro%20Tourism!5e0!3m2!1sen!2sin!4v1732454024171!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                  <!-- <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3780.65929692232!2d73.503226!3d18.634388!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2a77c92f69653%3A0xa2e9f51509b0642!2s5%20Billion%20Stars%20Camping%20%26%20Agro%20Tourism!5e0!3m2!1sen!2sin!4v1732454024171!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                  <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3780.65929692232!2d73.503226!3d18.634388!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2a77c92f69653%3A0xa2e9f51509b0642!2s5%20Billion%20Stars%20Camping%20%26%20Agro%20Tourism!5e0!3m2!1sen!2sin!4v1732454024171!5m2!1sen!2sin" width="400" height="300" style="border:0;" zoom="25" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                </div>

          </div>
      </div>
      <!-- <a href="https://api.whatsapp.com/send?phone=8624908808&text=Welcome To 5 Billion Stars" class="float" target="_blank">
        <img src="images/WhatsApp-Logo.svg" width="100" height="100">
        </a> -->
        <!-- <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
            Popover on top
          </button>
            <button > -->
                <div>
                <img src="images/WhatsApp-Logo.svg"  class="float" width="300" height="300" (click)="openForm()">
            </div>
        <div class="pulse"></div>
        @if (showForm) {
        <div class="float-form" >
            <form class="sform">
                <div>
                    <label>Name</label>
            <input tyep="text" />
                </div>
                <div>
  <label>Phone</label>
            <input tyep="text" />
                </div>
       </form>
                    <!-- <div class="form-block-wrap">
                        <iframe src="https://whatsform.com/ujqwjw"  width="100" height="600" frameBorder="0"></iframe>     
                   </div> -->
                   <div class="form-area navbar-expand-lg">
                    <div class="container">
                        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button> -->
                       <form >
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-lg-auto">
                                <li class="nav-item">
                                    <label for="fromdate" class="form-label">From Date <sup class="text-danger">*</sup></label>
                                    <input type="date" name="fromdate" id="fromdate" formControlName="fromdate" class="form-control" placeholder="Jackson" required="">
                                </li>
                                <li class="nav-item">
                                    <label for="todate" class="form-label">To Date <sup class="text-danger">*</sup></label>
                                    <input type="date" name="todate" id="todate" formControlName="todate" class="form-control" placeholder="Jackson" required="">
                                </li>
                                <li class="nav-item">
                                    <label for="name" class="form-label">Name <sup class="text-danger">*</sup></label>
                                    <input type="text" name="name" id="name" formControlName="name" class="form-control" placeholder="Jackson" required="">
                                </li>
                                <li class="nav-item">
                                    <label for="guest" class="form-label">Guest <sup class="text-danger">*</sup></label>
                                    <input type="text" name="guest" id="guest" formControlName="guest" class="form-control" placeholder="Jackson" required="">
                                </li>
                                <li class="nav-item">
                                    <label for="phone" class="form-label">Mobile No. <sup class="text-danger">*</sup></label>
                                    <input type="phone" name="phone" id="phone" formControlName="phone" class="form-control" placeholder="Jackson" required="">
                                </li>
                            </ul>
                            <button class="btn custom-btn custom-border-btn">
                               Submit
                            </button >
                            <!-- <div class="ms-lg-3">
                                <a  href="reservation.html">
                                    Submit 1
                                </a>
                            </div> -->

                        </div>
                    </form>
                    </div>
                </div>
        </div>
    }
  </section>

  <footer class="site-footer">
      <div class="container">
          <div class="row">

              <div class="col-lg-4 col-12 me-auto">
                  <em class="text-white d-block mb-4">Where to find us?</em>

                  <strong class="text-white">
                      <i class="bi-geo-alt me-2"></i>
                      Gevhande Vasahat,Paud - Lonavala Road, Nr.Old Reliance Tower, Pune, Maharashtra 410406, India
                  </strong>

                  <ul class="social-icon mt-4">
                      <li class="social-icon-item">
                          <a href="https://www.facebook.com/5billionstars" target="_blank" class="social-icon-link bi-facebook">
                          </a>
                      </li>

                      <li class="social-icon-item">
                          <a href="https://www.instagram.com/5_billion_stars?igsh=b2g1Y25wZ2Jvd2Uy" target="_new" class="social-icon-link bi-instagram">
                          </a>
                      </li>

                      <li class="social-icon-item">
                          <a href="https://api.whatsapp.com/send?phone=8624908808&text=Welcome To 5 Billion Stars" target="_blank" class="social-icon-link bi-whatsapp">
                          </a>
                      </li>
                  </ul>
              </div>

              <div class="col-lg-3 col-12 mt-4 mb-3 mt-lg-0 mb-lg-0">
                  <em class="text-white d-block mb-4">Contact</em>

                  <p class="d-flex mb-1">
                      <strong class="me-2">Phone:</strong>
                      <a href="tel: 8624908808" class="site-footer-link">
                          +(91) 8624-908-808
                      </a>
                  </p>

                  <p class="d-flex">
                      <strong class="me-2">Email:</strong>

                      <a href="mailto: 5billionstarsct@gmail.com" class="site-footer-link">
                          5billionstarsct&#64;gmail.com
                      </a>
                  </p>
              </div>


              <div class="col-lg-5 col-12">
                  <em class="text-white d-block mb-4">Opening Hours.</em>

                  <ul class="opening-hours-list">
                      <li class="d-flex">
                          All Days Open
                          <!-- <strong>4:00 PM - 11:00 AM (Next day)</strong> -->
                          <!-- <span class="underline"></span> -->
                      </li>

                      <!-- <li class="d-flex">
                          Saturday
                          <span class="underline"></span>

                          <strong>11:00 - 16:30</strong>
                      </li>

                      <li class="d-flex">
                          Sunday
                          <span class="underline"></span>

                          <strong>Closed</strong>
                      </li> -->
                  </ul>
              </div>

              <div class="col-lg-8 col-12 mt-4">
                  <p class="copyright-text mb-0">Copyright © 5 Billion Stars 
                      - Design: <a rel="sponsored" href="https://www.tooplate.com" target="_blank">Niv</a></p>
              </div>
      </div>
      </div>
  </footer>
</main>
<router-outlet />

